# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables
.env*
!.env.example

# IDE specific files
.vscode/
.idea/
*.iml

# OS specific files
.DS_Store
